In [1]:
# 필요한 라이브러리 설치 및 임포트
# !pip install pandas

import pandas as pd
from datetime import datetime

---

# [Step 2] 데이터 전처리

#### **<span style="color:blue">[2-0] air_21, air_22, weather_21, weather_22 데이터 로딩</span>**

In [2]:
# 데이터 로딩
air_21 = pd.read_csv('air_2021.csv', sep=',', index_col=0,encoding='utf-8')
air_22 = pd.read_csv('air_2022.csv', sep=',', index_col=0, encoding='utf-8')
weather_21 = pd.read_csv('weather_2021.csv', sep=',', encoding='cp949')
weather_22 = pd.read_csv('weather_2022.csv', sep=',', encoding='cp949')

#### **<span style="color:blue">[2-1] air_21, air_22 의 '측정일시'를 활용하여 'time' 변수 생성</span>**

* air_21, air_22 의 '측정일시'를 활용하여 'time'변수 생성
* time 변수를 to_datetime으로 데이터 타입 변경
* 참고: 미세먼지 데이터는 1시-24시, 날씨 데이터는 0시-23시로 구성되어 있습니다. [2-5]에서 미세먼지와 날씨 데이터를 time 기준으로 합치려면 날씨 기준이 동일해야 합니다. 미세먼지 데이터에서 time 변수 생성 시 이를 미리 고려(예:측정일시 값 -1)하세요.

In [3]:
air_21.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8760 entries, 0 to 8759
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역      8760 non-null   object
 1   망       8760 non-null   object
 2   측정소코드   8760 non-null   int64
 3   측정소명    8760 non-null   object
 4   측정일시    8760 non-null   int64
 5   SO2     8648 non-null   float64
 6   CO      8680 non-null   float64
 7   O3      8663 non-null   float64
 8   NO2     8680 non-null   float64
 9   PM10    8655 non-null   float64
 10  PM25    8663 non-null   float64
 11  주소      8760 non-null   object
dtypes: float64(6), int64(2), object(4)
memory usage: 889.7+ KB

In [4]:
air_21.head()

,지역,망,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25,주소
0,서울 종로구,도시대기,111123,종로구,2021100101,0.003,0.6,0.002,0.039,31.0,18.0,서울 종로구 종로35가길 19
1,서울 종로구,도시대기,111123,종로구,2021100102,0.003,0.6,0.002,0.035,27.0,16.0,서울 종로구 종로35가길 19
2,서울 종로구,도시대기,111123,종로구,2021100103,0.003,0.6,0.002,0.033,28.0,18.0,서울 종로구 종로35가길 19
3,서울 종로구,도시대기,111123,종로구,2021100104,0.003,0.6,0.002,0.030,26.0,16.0,서울 종로구 종로35가길 19
4,서울 종로구,도시대기,111123,종로구,2021100105,0.003,0.5,0.003,0.026,26.0,16.0,서울 종로구 종로35가길 19

In [5]:
air_21 = air_21.astype({'측정일시': 'str'})

In [6]:
air_21['측정일시'] = air_21['측정일시'] + '00'

In [7]:
air_21['측정일시'] = air_21['측정일시'].str.replace('2400', '0000')

In [8]:
# 2021-12-31 23:00
air_21['time'] = air_21['측정일시'].str[0:4] + '-' + air_21['측정일시'].str[4:6]\
    + '-' + air_21['측정일시'].str[6:8] + ' ' + air_21['측정일시'].str[8:10]

In [9]:
air_21['time'] = pd.to_datetime(air_21['time'])
air_21

,지역,망,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25,주소,time
0,서울 종로구,도시대기,111123,종로구,202110010100,0.003,0.6,0.002,0.039,31.0,18.0,서울 종로구 종로35가길 19,2021-10-01 01:00:00
1,서울 종로구,도시대기,111123,종로구,202110010200,0.003,0.6,0.002,0.035,27.0,16.0,서울 종로구 종로35가길 19,2021-10-01 02:00:00
2,서울 종로구,도시대기,111123,종로구,202110010300,0.003,0.6,0.002,0.033,28.0,18.0,서울 종로구 종로35가길 19,2021-10-01 03:00:00
3,서울 종로구,도시대기,111123,종로구,202110010400,0.003,0.6,0.002,0.030,26.0,16.0,서울 종로구 종로35가길 19,2021-10-01 04:00:00
4,서울 종로구,도시대기,111123,종로구,202110010500,0.003,0.5,0.003,0.026,26.0,16.0,서울 종로구 종로35가길 19,2021-10-01 05:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,서울 종로구,도시대기,111123,종로구,202109302000,0.003,0.7,0.020,0.036,35.0,24.0,서울 종로구 종로35가길 19,2021-09-30 20:00:00
8756,서울 종로구,도시대기,111123,종로구,202109302100,0.003,0.6,0.016,0.035,34.0,21.0,서울 종로구 종로35가길 19,2021-09-30 21:00:00
8757,서울 종로구,도시대기,111123,종로구,202109302200,0.003,0.6,0.012,0.036,30.0,19.0,서울 종로구 종로35가길 19,2021-09-30 22:00:00
8758,서울 종로구,도시대기,111123,종로구,202109302300,0.003,0.6,0.004,0.042,33.0,19.0,서울 종로구 종로35가길 19,2021-09-30 23:00:00
8759,서울 종로구,도시대기,111123,종로구,202109300000,0.003,0.6,0.003,0.042,29.0,17.0,서울 종로구 종로35가길 19,2021-09-30 00:00:00

In [10]:
air_22

,지역,망,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25,주소
0,서울 종로구,도시대기,111123,종로구,2022010101,0.003,0.4,0.026,0.016,23.0,12.0,서울 종로구 종로35가길 19
1,서울 종로구,도시대기,111123,종로구,2022010102,0.003,0.4,0.022,0.020,20.0,9.0,서울 종로구 종로35가길 19
2,서울 종로구,도시대기,111123,종로구,2022010103,0.003,0.5,0.014,0.028,20.0,9.0,서울 종로구 종로35가길 19
3,서울 종로구,도시대기,111123,종로구,2022010104,0.003,0.5,0.016,0.027,19.0,10.0,서울 종로구 종로35가길 19
4,서울 종로구,도시대기,111123,종로구,2022010105,0.003,0.5,0.005,0.040,24.0,11.0,서울 종로구 종로35가길 19
...,...,...,...,...,...,...,...,...,...,...,...,...
2155,서울 종로구,도시대기,111123,종로구,2022033120,0.002,0.4,0.036,0.017,11.0,8.0,서울 종로구 종로35가길 19
2156,서울 종로구,도시대기,111123,종로구,2022033121,0.002,0.4,0.032,0.018,10.0,7.0,서울 종로구 종로35가길 19
2157,서울 종로구,도시대기,111123,종로구,2022033122,0.003,0.3,0.038,0.013,11.0,5.0,서울 종로구 종로35가길 19
2158,서울 종로구,도시대기,111123,종로구,2022033123,0.003,0.3,0.036,0.015,11.0,5.0,서울 종로구 종로35가길 19
2159,서울 종로구,도시대기,111123,종로구,2022033124,0.002,0.4,0.033,0.017,9.0,5.0,서울 종로구 종로35가길 19

In [11]:
air_22 = air_22.astype({'측정일시': 'str'})

air_22['측정일시'] = air_22['측정일시'] + '00'

In [12]:
air_22['측정일시'] = air_22['측정일시'].str.replace('2400', '0000')

In [13]:
air_22['time'] = air_22['측정일시'].str[0:4] + '-' + air_22['측정일시'].str[4:6]\
    + '-' + air_22['측정일시'].str[6:8] + ' ' + air_22['측정일시'].str[8:10]

In [14]:
# 아래에 필요한 코드를 작성하고 결과를 확인합니다.
air_22['time'] = pd.to_datetime(air_22['time'])
air_22

,지역,망,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25,주소,time
0,서울 종로구,도시대기,111123,종로구,202201010100,0.003,0.4,0.026,0.016,23.0,12.0,서울 종로구 종로35가길 19,2022-01-01 01:00:00
1,서울 종로구,도시대기,111123,종로구,202201010200,0.003,0.4,0.022,0.020,20.0,9.0,서울 종로구 종로35가길 19,2022-01-01 02:00:00
2,서울 종로구,도시대기,111123,종로구,202201010300,0.003,0.5,0.014,0.028,20.0,9.0,서울 종로구 종로35가길 19,2022-01-01 03:00:00
3,서울 종로구,도시대기,111123,종로구,202201010400,0.003,0.5,0.016,0.027,19.0,10.0,서울 종로구 종로35가길 19,2022-01-01 04:00:00
4,서울 종로구,도시대기,111123,종로구,202201010500,0.003,0.5,0.005,0.040,24.0,11.0,서울 종로구 종로35가길 19,2022-01-01 05:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2155,서울 종로구,도시대기,111123,종로구,202203312000,0.002,0.4,0.036,0.017,11.0,8.0,서울 종로구 종로35가길 19,2022-03-31 20:00:00
2156,서울 종로구,도시대기,111123,종로구,202203312100,0.002,0.4,0.032,0.018,10.0,7.0,서울 종로구 종로35가길 19,2022-03-31 21:00:00
2157,서울 종로구,도시대기,111123,종로구,202203312200,0.003,0.3,0.038,0.013,11.0,5.0,서울 종로구 종로35가길 19,2022-03-31 22:00:00
2158,서울 종로구,도시대기,111123,종로구,202203312300,0.003,0.3,0.036,0.015,11.0,5.0,서울 종로구 종로35가길 19,2022-03-31 23:00:00
2159,서울 종로구,도시대기,111123,종로구,202203310000,0.002,0.4,0.033,0.017,9.0,5.0,서울 종로구 종로35가길 19,2022-03-31 00:00:00

---

#### **<span style="color:blue">[2-2] weather_21, weather_22 의 '일시'를 활용하여 'time' 변수 생성</span>**

* weather_21, weather_22 의 '일시'를 활용하여 'time'변수 생성
* time 변수를 to_datetime으로 데이터 타입 변경

In [15]:
# 아래에 필요한 코드를 작성하고 결과를 확인합니다.
weather_21['time'] = pd.to_datetime(weather_21['일시'])
weather_22['time'] = pd.to_datetime(weather_22['일시'])

In [16]:
weather_21

,지점,지점명,일시,기온(°C),기온 QC플래그,강수량(mm),강수량 QC플래그,풍속(m/s),풍속 QC플래그,풍향(16방위),...,시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),지면온도 QC플래그,5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C),time
0,108,서울,2021-01-01 01:00,-8.7,NaN,NaN,NaN,2.4,NaN,270.0,...,2000,NaN,NaN,-6.9,NaN,-1.0,-0.8,0.3,1.6,2021-01-01 01:00:00
1,108,서울,2021-01-01 02:00,-9.1,NaN,NaN,NaN,1.6,NaN,270.0,...,2000,NaN,NaN,-7.1,NaN,-1.1,-0.8,0.3,1.6,2021-01-01 02:00:00
2,108,서울,2021-01-01 03:00,-9.3,NaN,NaN,NaN,1.1,NaN,250.0,...,2000,NaN,NaN,-7.3,NaN,-1.2,-0.9,0.3,1.6,2021-01-01 03:00:00
3,108,서울,2021-01-01 04:00,-9.3,NaN,NaN,NaN,0.3,NaN,0.0,...,2000,NaN,NaN,-7.5,NaN,-1.3,-1.0,0.2,1.5,2021-01-01 04:00:00
4,108,서울,2021-01-01 05:00,-9.7,NaN,NaN,NaN,1.9,NaN,20.0,...,2000,NaN,NaN,-7.6,NaN,-1.3,-1.0,0.2,1.5,2021-01-01 05:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8754,108,서울,2021-12-31 19:00,-6.4,NaN,NaN,NaN,2.2,NaN,250.0,...,2000,NaN,NaN,-4.5,NaN,-0.5,-0.7,-0.1,1.0,2021-12-31 19:00:00
8755,108,서울,2021-12-31 20:00,-6.3,NaN,NaN,NaN,4.1,NaN,320.0,...,2000,NaN,NaN,-5.3,NaN,-0.6,-0.8,-0.1,1.0,2021-12-31 20:00:00
8756,108,서울,2021-12-31 21:00,-6.7,NaN,NaN,NaN,4.8,NaN,320.0,...,2000,NaN,NaN,-5.7,NaN,-0.7,-0.8,-0.1,1.0,2021-12-31 21:00:00
8757,108,서울,2021-12-31 22:00,-7.5,NaN,NaN,NaN,3.0,NaN,320.0,...,2000,NaN,NaN,-6.2,NaN,-0.8,-0.9,-0.2,1.0,2021-12-31 22:00:00
8758,108,서울,2021-12-31 23:00,-7.7,NaN,NaN,NaN,2.9,NaN,320.0,...,2000,NaN,NaN,-6.5,NaN,-0.9,-0.9,-0.2,1.0,2021-12-31 23:00:00

---

#### **<span style="color:blue">[2-3] 'time' 기준으로 데이터 합치기</span>**

* 미세먼지 데이터와 날씨 데이터를 'time' 기준으로 합쳐보세요.
* df_21에는 'time' 기준으로 21년도 미세먼지, 날씨 데이터를 합쳐보세요.
* df_22에는 'time' 기준으로 22년도 미세먼지, 날씨 데이터를 합쳐보세요.

In [17]:
# 아래에 필요한 코드를 작성하고 결과를 확인합니다.
df_21 = pd.merge(air_21, weather_21, on='time', how='inner')
df_22 = pd.merge(air_22, weather_22, on='time', how='inner')

---

#### **<span style="color:blue">[2-4] 사용하지 않을 변수 제거</span>**

* 머신러닝에 사용하지 않을 변수들을 제거해줍니다.
* df_21, df_22에 사용할 변수들만 넣어보세요.

In [18]:
pd.options.display.max_columns = 100

In [19]:
display(df_21.head())
display(df_22.head())

,지역,망,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25,주소,time,지점,지점명,일시,기온(°C),기온 QC플래그,강수량(mm),강수량 QC플래그,풍속(m/s),풍속 QC플래그,풍향(16방위),풍향 QC플래그,습도(%),습도 QC플래그,증기압(hPa),이슬점온도(°C),현지기압(hPa),현지기압 QC플래그,해면기압(hPa),해면기압 QC플래그,일조(hr),일조 QC플래그,일사(MJ/m2),일사 QC플래그,적설(cm),3시간신적설(cm),전운량(10분위),중하층운량(10분위),운형(운형약어),최저운고(100m ),시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),지면온도 QC플래그,5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
0,서울 종로구,도시대기,111123,종로구,202110010100,0.003,0.6,0.002,0.039,31.0,18.0,서울 종로구 종로35가길 19,2021-10-01 01:00:00,108,서울,2021-10-01 01:00,18.7,NaN,NaN,NaN,1.0,NaN,20.0,NaN,85,NaN,18.3,16.1,998.8,NaN,1008.7,NaN,NaN,9.0,NaN,9.0,NaN,NaN,0.0,0,NaN,NaN,2000,NaN,NaN,17.4,NaN,22.1,22.0,22.5,22.9
1,서울 종로구,도시대기,111123,종로구,202110010200,0.003,0.6,0.002,0.035,27.0,16.0,서울 종로구 종로35가길 19,2021-10-01 02:00:00,108,서울,2021-10-01 02:00,18.3,NaN,NaN,NaN,0.3,NaN,0.0,NaN,89,NaN,18.6,16.4,998.9,NaN,1008.8,NaN,NaN,9.0,NaN,9.0,NaN,NaN,0.0,0,NaN,NaN,2000,NaN,NaN,17.2,NaN,21.8,21.8,22.4,22.8
2,서울 종로구,도시대기,111123,종로구,202110010300,0.003,0.6,0.002,0.033,28.0,18.0,서울 종로구 종로35가길 19,2021-10-01 03:00:00,108,서울,2021-10-01 03:00,17.7,NaN,NaN,NaN,2.0,NaN,20.0,NaN,92,NaN,18.5,16.3,998.1,NaN,1008.1,NaN,NaN,9.0,NaN,9.0,NaN,NaN,0.0,0,NaN,NaN,2000,NaN,NaN,17.0,NaN,21.6,21.6,22.2,22.8
3,서울 종로구,도시대기,111123,종로구,202110010400,0.003,0.6,0.002,0.030,26.0,16.0,서울 종로구 종로35가길 19,2021-10-01 04:00:00,108,서울,2021-10-01 04:00,17.4,NaN,NaN,NaN,1.0,NaN,50.0,NaN,91,NaN,18.1,15.9,997.9,NaN,1007.9,NaN,NaN,9.0,NaN,9.0,NaN,NaN,0.0,0,NaN,NaN,2000,NaN,NaN,16.5,NaN,21.3,21.4,22.0,22.7
4,서울 종로구,도시대기,111123,종로구,202110010500,0.003,0.5,0.003,0.026,26.0,16.0,서울 종로구 종로35가길 19,2021-10-01 05:00:00,108,서울,2021-10-01 05:00,17.2,NaN,NaN,NaN,1.3,NaN,270.0,NaN,94,NaN,18.4,16.2,998.4,NaN,1008.4,NaN,NaN,9.0,NaN,9.0,NaN,NaN,4.0,0,Ci,NaN,1995,NaN,NaN,16.6,NaN,21.1,21.2,21.9,22.6

,지역,망,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25,주소,time,지점,지점명,일시,기온(°C),기온 QC플래그,강수량(mm),강수량 QC플래그,풍속(m/s),풍속 QC플래그,풍향(16방위),풍향 QC플래그,습도(%),습도 QC플래그,증기압(hPa),이슬점온도(°C),현지기압(hPa),현지기압 QC플래그,해면기압(hPa),해면기압 QC플래그,일조(hr),일조 QC플래그,일사(MJ/m2),일사 QC플래그,적설(cm),3시간신적설(cm),전운량(10분위),중하층운량(10분위),운형(운형약어),최저운고(100m ),시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),지면온도 QC플래그,5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
0,서울 종로구,도시대기,111123,종로구,202201010100,0.003,0.4,0.026,0.016,23.0,12.0,서울 종로구 종로35가길 19,2022-01-01 01:00:00,108,서울,2022-01-01 01:00,-9.2,NaN,NaN,NaN,1.8,NaN,270,NaN,42,NaN,1.3,-19.7,1022.2,NaN,1033.6,NaN,NaN,9.0,NaN,9.0,NaN,NaN,0,0,NaN,NaN,2000,NaN,NaN,-7.2,NaN,-1.1,-1.1,-0.2,1.0
1,서울 종로구,도시대기,111123,종로구,202201010200,0.003,0.4,0.022,0.020,20.0,9.0,서울 종로구 종로35가길 19,2022-01-01 02:00:00,108,서울,2022-01-01 02:00,-9.5,NaN,NaN,NaN,1.2,NaN,270,NaN,43,NaN,1.3,-19.7,1022.3,NaN,1033.7,NaN,NaN,9.0,NaN,9.0,NaN,NaN,0,0,NaN,NaN,2000,NaN,NaN,-7.5,NaN,-1.3,-1.2,-0.2,1.0
2,서울 종로구,도시대기,111123,종로구,202201010300,0.003,0.5,0.014,0.028,20.0,9.0,서울 종로구 종로35가길 19,2022-01-01 03:00:00,108,서울,2022-01-01 03:00,-9.3,NaN,NaN,NaN,1.4,NaN,290,NaN,46,NaN,1.4,-18.8,1022.6,NaN,1034.0,NaN,NaN,9.0,NaN,9.0,NaN,NaN,0,0,NaN,NaN,2000,NaN,NaN,-7.6,NaN,-1.4,-1.2,-0.2,1.0
3,서울 종로구,도시대기,111123,종로구,202201010400,0.003,0.5,0.016,0.027,19.0,10.0,서울 종로구 종로35가길 19,2022-01-01 04:00:00,108,서울,2022-01-01 04:00,-9.6,NaN,NaN,NaN,1.7,NaN,340,NaN,48,NaN,1.4,-18.5,1021.9,NaN,1033.3,NaN,NaN,9.0,NaN,9.0,NaN,NaN,0,0,NaN,NaN,2000,NaN,NaN,-7.6,NaN,-1.4,-1.3,-0.3,1.0
4,서울 종로구,도시대기,111123,종로구,202201010500,0.003,0.5,0.005,0.040,24.0,11.0,서울 종로구 종로35가길 19,2022-01-01 05:00:00,108,서울,2022-01-01 05:00,-9.7,NaN,NaN,NaN,0.8,NaN,270,NaN,51,NaN,1.5,-17.9,1022.0,NaN,1033.4,NaN,NaN,9.0,NaN,9.0,NaN,NaN,0,0,NaN,NaN,2000,NaN,NaN,-7.7,NaN,-1.5,-1.4,-0.3,1.0

In [20]:
df_21.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8759 entries, 0 to 8758
Data columns (total 51 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   지역             8759 non-null   object
 1   망              8759 non-null   object
 2   측정소코드          8759 non-null   int64
 3   측정소명           8759 non-null   object
 4   측정일시           8759 non-null   object
 5   SO2            8647 non-null   float64
 6   CO             8679 non-null   float64
 7   O3             8662 non-null   float64
 8   NO2            8679 non-null   float64
 9   PM10           8654 non-null   float64
 10  PM25           8662 non-null   float64
 11  주소             8759 non-null   object
 12  time           8759 non-null   datetime64[ns]
 13  지점             8759 non-null   int64
 14  지점명            8759 non-null   object
 15  일시             8759 non-null   object
 16  기온(°C)         8759 non-null   float64
 17  기온 QC플래그       0 non-null      float64
 18  강수량(mm)        949 non-null    float64
 19  강수량 QC플래그      1763 non-null   float64
 20  풍속(m/s)        8757 non-null   float64
 21  풍속 QC플래그       2 non-null      float64
 22  풍향(16방위)       8757 non-null   float64
 23  풍향 QC플래그       2 non-null      float64
 24  습도(%)          8759 non-null   int64
 25  습도 QC플래그       0 non-null      float64
 26  증기압(hPa)       8759 non-null   float64
 27  이슬점온도(°C)      8759 non-null   float64
 28  현지기압(hPa)      8759 non-null   float64
 29  현지기압 QC플래그     0 non-null      float64
 30  해면기압(hPa)      8759 non-null   float64
 31  해면기압 QC플래그     0 non-null      float64
 32  일조(hr)         4791 non-null   float64
 33  일조 QC플래그       3968 non-null   float64
 34  일사(MJ/m2)      4791 non-null   float64
 35  일사 QC플래그       3968 non-null   float64
 36  적설(cm)         379 non-null    float64
 37  3시간신적설(cm)     29 non-null     float64
 38  전운량(10분위)      8757 non-null   float64
 39  중하층운량(10분위)    8759 non-null   int64
 40  운형(운형약어)       4947 non-null   object
 41  최저운고(100m )    4547 non-null   float64
 42  시정(10m)        8759 non-null   int64
 43  지면상태(지면상태코드)   0 non-null      float64
 44  현상번호(국내식)      2125 non-null   float64
 45  지면온도(°C)       8754 non-null   float64
 46  지면온도 QC플래그     24 non-null     float64
 47  5cm 지중온도(°C)   8754 non-null   float64
 48  10cm 지중온도(°C)  8754 non-null   float64
 49  20cm 지중온도(°C)  8754 non-null   float64
 50  30cm 지중온도(°C)  8754 non-null   float64
dtypes: datetime64[ns](1), float64(37), int64(5), object(8)
memory usage: 3.5+ MB

In [21]:
# df_21, df_22에 사용할 변수들만 할당
drop_cols = ['지역', '망', '측정소코드', '측정일시', '측정소명', '주소', 
             '지점', '지점명', '일시']
df_21.drop(drop_cols, axis=1, inplace=True)

In [22]:
df_21

,SO2,CO,O3,NO2,PM10,PM25,time,기온(°C),기온 QC플래그,강수량(mm),강수량 QC플래그,풍속(m/s),풍속 QC플래그,풍향(16방위),풍향 QC플래그,습도(%),습도 QC플래그,증기압(hPa),이슬점온도(°C),현지기압(hPa),현지기압 QC플래그,해면기압(hPa),해면기압 QC플래그,일조(hr),일조 QC플래그,일사(MJ/m2),일사 QC플래그,적설(cm),3시간신적설(cm),전운량(10분위),중하층운량(10분위),운형(운형약어),최저운고(100m ),시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),지면온도 QC플래그,5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
0,0.003,0.6,0.002,0.039,31.0,18.0,2021-10-01 01:00:00,18.7,NaN,NaN,NaN,1.0,NaN,20.0,NaN,85,NaN,18.3,16.1,998.8,NaN,1008.7,NaN,NaN,9.0,NaN,9.0,NaN,NaN,0.0,0,NaN,NaN,2000,NaN,NaN,17.4,NaN,22.1,22.0,22.5,22.9
1,0.003,0.6,0.002,0.035,27.0,16.0,2021-10-01 02:00:00,18.3,NaN,NaN,NaN,0.3,NaN,0.0,NaN,89,NaN,18.6,16.4,998.9,NaN,1008.8,NaN,NaN,9.0,NaN,9.0,NaN,NaN,0.0,0,NaN,NaN,2000,NaN,NaN,17.2,NaN,21.8,21.8,22.4,22.8
2,0.003,0.6,0.002,0.033,28.0,18.0,2021-10-01 03:00:00,17.7,NaN,NaN,NaN,2.0,NaN,20.0,NaN,92,NaN,18.5,16.3,998.1,NaN,1008.1,NaN,NaN,9.0,NaN,9.0,NaN,NaN,0.0,0,NaN,NaN,2000,NaN,NaN,17.0,NaN,21.6,21.6,22.2,22.8
3,0.003,0.6,0.002,0.030,26.0,16.0,2021-10-01 04:00:00,17.4,NaN,NaN,NaN,1.0,NaN,50.0,NaN,91,NaN,18.1,15.9,997.9,NaN,1007.9,NaN,NaN,9.0,NaN,9.0,NaN,NaN,0.0,0,NaN,NaN,2000,NaN,NaN,16.5,NaN,21.3,21.4,22.0,22.7
4,0.003,0.5,0.003,0.026,26.0,16.0,2021-10-01 05:00:00,17.2,NaN,NaN,NaN,1.3,NaN,270.0,NaN,94,NaN,18.4,16.2,998.4,NaN,1008.4,NaN,NaN,9.0,NaN,9.0,NaN,NaN,4.0,0,Ci,NaN,1995,NaN,NaN,16.6,NaN,21.1,21.2,21.9,22.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8754,0.003,0.7,0.020,0.036,35.0,24.0,2021-09-30 20:00:00,21.7,NaN,NaN,NaN,0.9,NaN,320.0,NaN,79,NaN,20.4,17.8,998.8,NaN,1008.6,NaN,NaN,9.0,NaN,9.0,NaN,NaN,0.0,0,NaN,NaN,2000,NaN,NaN,19.9,NaN,23.7,23.4,23.1,22.8
8755,0.003,0.6,0.016,0.035,34.0,21.0,2021-09-30 21:00:00,20.9,NaN,NaN,NaN,0.4,NaN,0.0,NaN,83,NaN,20.4,17.8,999.2,NaN,1009.1,NaN,NaN,9.0,NaN,9.0,NaN,NaN,0.0,0,NaN,NaN,2000,NaN,NaN,19.2,NaN,23.3,23.1,23.0,22.9
8756,0.003,0.6,0.012,0.036,30.0,19.0,2021-09-30 22:00:00,20.4,NaN,NaN,NaN,0.8,NaN,70.0,NaN,81,NaN,19.4,17.0,999.2,NaN,1009.1,NaN,NaN,9.0,NaN,9.0,NaN,NaN,0.0,0,NaN,NaN,2000,NaN,NaN,18.6,NaN,23.0,22.8,22.9,22.9
8757,0.003,0.6,0.004,0.042,33.0,19.0,2021-09-30 23:00:00,19.7,NaN,NaN,NaN,1.4,NaN,20.0,NaN,81,NaN,18.5,16.3,999.2,NaN,1009.1,NaN,NaN,9.0,NaN,9.0,NaN,NaN,0.0,0,NaN,NaN,2000,NaN,NaN,18.1,NaN,22.6,22.5,22.8,22.9
8758,0.003,0.6,0.003,0.042,29.0,17.0,2021-09-30 00:00:00,17.8,NaN,NaN,9.0,1.8,NaN,360.0,NaN,95,NaN,19.2,16.9,999.5,NaN,1009.5,NaN,NaN,9.0,NaN,9.0,NaN,NaN,1.0,1,NaN,NaN,2000,NaN,NaN,17.6,NaN,21.8,21.7,22.2,22.8

In [23]:
# df_21, df_22에 사용할 변수들만 할당
drop_cols = ['지역', '망', '측정소코드', '측정일시', '측정소명', '주소', 
             '지점', '지점명', '일시']
df_22.drop(drop_cols, axis=1, inplace=True)

In [24]:
# time 변수를 index로 세팅
df_21.set_index('time')
df_22.set_index('time')

,SO2,CO,O3,NO2,PM10,PM25,기온(°C),기온 QC플래그,강수량(mm),강수량 QC플래그,풍속(m/s),풍속 QC플래그,풍향(16방위),풍향 QC플래그,습도(%),습도 QC플래그,증기압(hPa),이슬점온도(°C),현지기압(hPa),현지기압 QC플래그,해면기압(hPa),해면기압 QC플래그,일조(hr),일조 QC플래그,일사(MJ/m2),일사 QC플래그,적설(cm),3시간신적설(cm),전운량(10분위),중하층운량(10분위),운형(운형약어),최저운고(100m ),시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),지면온도 QC플래그,5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
time,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2022-01-01 01:00:00,0.003,0.4,0.026,0.016,23.0,12.0,-9.2,NaN,NaN,NaN,1.8,NaN,270,NaN,42,NaN,1.3,-19.7,1022.2,NaN,1033.6,NaN,NaN,9.0,NaN,9.0,NaN,NaN,0,0,NaN,NaN,2000,NaN,NaN,-7.2,NaN,-1.1,-1.1,-0.2,1.0
2022-01-01 02:00:00,0.003,0.4,0.022,0.020,20.0,9.0,-9.5,NaN,NaN,NaN,1.2,NaN,270,NaN,43,NaN,1.3,-19.7,1022.3,NaN,1033.7,NaN,NaN,9.0,NaN,9.0,NaN,NaN,0,0,NaN,NaN,2000,NaN,NaN,-7.5,NaN,-1.3,-1.2,-0.2,1.0
2022-01-01 03:00:00,0.003,0.5,0.014,0.028,20.0,9.0,-9.3,NaN,NaN,NaN,1.4,NaN,290,NaN,46,NaN,1.4,-18.8,1022.6,NaN,1034.0,NaN,NaN,9.0,NaN,9.0,NaN,NaN,0,0,NaN,NaN,2000,NaN,NaN,-7.6,NaN,-1.4,-1.2,-0.2,1.0
2022-01-01 04:00:00,0.003,0.5,0.016,0.027,19.0,10.0,-9.6,NaN,NaN,NaN,1.7,NaN,340,NaN,48,NaN,1.4,-18.5,1021.9,NaN,1033.3,NaN,NaN,9.0,NaN,9.0,NaN,NaN,0,0,NaN,NaN,2000,NaN,NaN,-7.6,NaN,-1.4,-1.3,-0.3,1.0
2022-01-01 05:00:00,0.003,0.5,0.005,0.040,24.0,11.0,-9.7,NaN,NaN,NaN,0.8,NaN,270,NaN,51,NaN,1.5,-17.9,1022.0,NaN,1033.4,NaN,NaN,9.0,NaN,9.0,NaN,NaN,0,0,NaN,NaN,2000,NaN,NaN,-7.7,NaN,-1.5,-1.4,-0.3,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-03-31 20:00:00,0.002,0.4,0.036,0.017,11.0,8.0,11.6,NaN,NaN,NaN,2.7,NaN,340,NaN,48,NaN,6.5,0.9,1014.6,NaN,1025.0,NaN,NaN,9.0,NaN,9.0,NaN,NaN,6,0,NaN,NaN,2000,NaN,NaN,8.9,NaN,12.2,11.6,11.0,10.3
2022-03-31 21:00:00,0.002,0.4,0.032,0.018,10.0,7.0,10.5,NaN,NaN,NaN,3.5,NaN,320,NaN,51,NaN,6.4,0.7,1015.4,NaN,1025.9,NaN,NaN,9.0,NaN,9.0,NaN,NaN,1,1,Sc,10.0,2000,NaN,NaN,7.8,NaN,11.8,11.4,11.0,10.4
2022-03-31 22:00:00,0.003,0.3,0.038,0.013,11.0,5.0,9.3,NaN,NaN,NaN,1.9,NaN,50,NaN,58,NaN,6.8,1.4,1016.4,NaN,1026.9,NaN,NaN,9.0,NaN,9.0,NaN,NaN,3,3,NaN,10.0,2000,NaN,NaN,7.3,NaN,11.4,11.1,10.9,10.5
2022-03-31 23:00:00,0.003,0.3,0.036,0.015,11.0,5.0,8.4,NaN,NaN,NaN,1.2,NaN,360,NaN,61,NaN,6.7,1.3,1016.9,NaN,1027.4,NaN,NaN,9.0,NaN,9.0,NaN,NaN,1,1,NaN,10.0,2000,NaN,NaN,6.7,NaN,11.0,10.8,10.8,10.5
2022-03-31 00:00:00,0.002,0.4,0.033,0.017,9.0,5.0,10.6,NaN,NaN,9.0,2.1,NaN,290,NaN,87,NaN,11.1,8.5,1010.5,NaN,1020.9,NaN,NaN,9.0,NaN,9.0,NaN,NaN,9,6,ScCi,NaN,772,NaN,19.0,9.3,NaN,10.8,10.2,9.9,9.7

---

#### **<span style="color:blue">[2-5] 변수들의 결측치 처리</span>**

In [25]:
# df_21, df_22의 결측치 확인
df_21.isnull().sum()

SO2               112
CO                 80
O3                 97
NO2                80
PM10              105
PM25               97
time                0
기온(°C)              0
기온 QC플래그         8759
강수량(mm)          7810
강수량 QC플래그        6996
풍속(m/s)             2
풍속 QC플래그         8757
풍향(16방위)            2
풍향 QC플래그         8757
습도(%)               0
습도 QC플래그         8759
증기압(hPa)            0
이슬점온도(°C)           0
현지기압(hPa)           0
현지기압 QC플래그       8759
해면기압(hPa)           0
해면기압 QC플래그       8759
일조(hr)           3968
일조 QC플래그         4791
일사(MJ/m2)        3968
일사 QC플래그         4791
적설(cm)           8380
3시간신적설(cm)       8730
전운량(10분위)           2
중하층운량(10분위)         0
운형(운형약어)         3812
최저운고(100m )      4212
시정(10m)             0
지면상태(지면상태코드)     8759
현상번호(국내식)        6634
지면온도(°C)            5
지면온도 QC플래그       8735
5cm 지중온도(°C)        5
10cm 지중온도(°C)       5
20cm 지중온도(°C)       5
30cm 지중온도(°C)       5
dtype: int64

In [26]:
df_22.isnull().sum()

SO2                21
CO                 21
O3                 21
NO2                21
PM10               38
PM25               25
time                0
기온(°C)              0
기온 QC플래그         2160
강수량(mm)          2079
강수량 QC플래그        1778
풍속(m/s)             0
풍속 QC플래그         2160
풍향(16방위)            0
풍향 QC플래그         2160
습도(%)               0
습도 QC플래그         2160
증기압(hPa)            0
이슬점온도(°C)           0
현지기압(hPa)           0
현지기압 QC플래그       2160
해면기압(hPa)           0
해면기압 QC플래그       2160
일조(hr)           1089
일조 QC플래그         1071
일사(MJ/m2)        1089
일사 QC플래그         1071
적설(cm)           2020
3시간신적설(cm)       2145
전운량(10분위)           0
중하층운량(10분위)         0
운형(운형약어)         1221
최저운고(100m )      1417
시정(10m)             0
지면상태(지면상태코드)     2160
현상번호(국내식)        1742
지면온도(°C)            0
지면온도 QC플래그       2153
5cm 지중온도(°C)        0
10cm 지중온도(°C)       0
20cm 지중온도(°C)       0
30cm 지중온도(°C)       0
dtype: int64

In [27]:
# df_21, df_22의 변수 중 '강수량(mm)'의 결측치를 처리
df_21['강수량(mm)'].describe()

count    949.000000
mean       1.250263
std        3.398801
min        0.000000
25%        0.000000
50%        0.100000
75%        1.100000
max       64.700000
Name: 강수량(mm), dtype: float64

In [28]:
df_22['강수량(mm)'].describe()

count    81.000000
mean      1.392593
std       4.087321
min       0.000000
25%       0.000000
50%       0.000000
75%       0.900000
max      32.200000
Name: 강수량(mm), dtype: float64

In [29]:
df_21.fillna({'강수량(mm)': 0}, inplace=True)
df_22.fillna({'강수량(mm)': 0}, inplace=True)

In [30]:
df_21.describe()

,SO2,CO,O3,NO2,PM10,PM25,기온(°C),기온 QC플래그,강수량(mm),강수량 QC플래그,풍속(m/s),풍속 QC플래그,풍향(16방위),풍향 QC플래그,습도(%),습도 QC플래그,증기압(hPa),이슬점온도(°C),현지기압(hPa),현지기압 QC플래그,해면기압(hPa),해면기압 QC플래그,일조(hr),일조 QC플래그,일사(MJ/m2),일사 QC플래그,적설(cm),3시간신적설(cm),전운량(10분위),중하층운량(10분위),최저운고(100m ),시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),지면온도 QC플래그,5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
count,8647.000000,8679.000000,8662.000000,8679.000000,8654.000000,8662.000000,8759.000000,0.0,8759.000000,1763.0,8757.000000,2.0,8757.000000,2.0,8759.000000,0.0,8759.000000,8759.000000,8759.000000,0.0,8759.000000,0.0,4791.000000,3968.0,4791.000000,3968.0,379.000000,29.000000,8757.000000,8759.000000,4547.000000,8759.000000,0.0,2.125000e+03,8754.000000,24.00000,8754.000000,8754.000000,8754.000000,8754.000000
mean,0.003385,0.505646,0.029247,0.023347,38.925930,20.466174,13.739194,NaN,0.135461,9.0,2.311328,9.0,169.658559,9.0,65.589223,NaN,12.631236,6.842094,1006.046603,NaN,1016.280317,NaN,0.458380,9.0,1.076706,9.0,1.397625,0.962069,4.960489,3.033565,15.161425,1719.765384,NaN,1.367177e+04,14.734304,1.87500,15.128581,14.555118,14.533276,14.827633
std,0.000826,0.209529,0.019709,0.014456,47.473291,16.565864,10.894786,NaN,1.183827,0.0,1.120906,0.0,107.549684,0.0,18.394276,NaN,8.282075,11.736897,7.928167,NaN,8.311602,NaN,0.438788,0.0,0.966440,0.0,1.357390,1.424132,3.929256,3.452846,13.537921,521.130959,NaN,4.170156e+05,12.042066,3.73366,10.175582,10.044423,9.739277,9.360493
min,0.001000,0.200000,0.000000,0.003000,3.000000,1.000000,-18.500000,NaN,0.000000,9.0,0.000000,9.0,0.000000,9.0,19.000000,NaN,0.700000,-27.000000,986.900000,NaN,996.500000,NaN,0.000000,9.0,0.000000,9.0,0.000000,0.000000,0.000000,0.000000,1.000000,33.000000,NaN,1.000000e+00,-12.700000,0.00000,-4.700000,-4.600000,-3.000000,-0.800000
25%,0.003000,0.400000,0.015000,0.012000,18.000000,10.000000,6.000000,NaN,0.000000,9.0,1.500000,9.0,50.000000,9.0,51.000000,NaN,5.900000,-0.400000,999.800000,NaN,1009.700000,NaN,0.000000,9.0,0.230000,9.0,0.400000,0.000000,0.000000,0.000000,7.000000,1719.000000,NaN,5.000000e+00,4.300000,0.00000,5.900000,5.500000,5.600000,6.300000
50%,0.003000,0.400000,0.028000,0.019000,30.000000,16.000000,14.600000,NaN,0.000000,9.0,2.200000,9.0,200.000000,9.0,66.000000,NaN,9.700000,6.600000,1006.300000,NaN,1016.400000,NaN,0.400000,9.0,0.790000,9.0,0.900000,0.200000,6.000000,1.000000,10.000000,2000.000000,NaN,1.900000e+01,15.400000,0.00000,15.400000,14.700000,14.600000,15.100000
75%,0.004000,0.600000,0.040000,0.031000,46.000000,25.000000,22.600000,NaN,0.000000,9.0,2.900000,9.0,270.000000,9.0,80.000000,NaN,19.900000,17.400000,1012.000000,NaN,1022.500000,NaN,1.000000,9.0,1.800000,9.0,1.850000,0.900000,9.000000,6.000000,16.000000,2000.000000,NaN,1.901000e+03,23.600000,0.00000,24.100000,23.500000,23.400000,23.600000
max,0.011000,2.000000,0.137000,0.082000,942.000000,154.000000,36.300000,NaN,64.700000,9.0,8.300000,9.0,360.000000,9.0,100.000000,NaN,32.200000,25.300000,1025.800000,NaN,1037.400000,NaN,1.000000,9.0,3.740000,9.0,5.100000,4.400000,10.000000,10.000000,76.000000,2000.000000,NaN,1.916020e+07,56.800000,9.00000,35.700000,33.700000,31.900000,30.600000

In [31]:
df_22.describe()

,SO2,CO,O3,NO2,PM10,PM25,기온(°C),기온 QC플래그,강수량(mm),강수량 QC플래그,풍속(m/s),풍속 QC플래그,풍향(16방위),풍향 QC플래그,습도(%),습도 QC플래그,증기압(hPa),이슬점온도(°C),현지기압(hPa),현지기압 QC플래그,해면기압(hPa),해면기압 QC플래그,일조(hr),일조 QC플래그,일사(MJ/m2),일사 QC플래그,적설(cm),3시간신적설(cm),전운량(10분위),중하층운량(10분위),최저운고(100m ),시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),지면온도 QC플래그,5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
count,2139.000000,2139.000000,2139.000000,2139.000000,2122.000000,2135.000000,2160.000000,0.0,2160.000000,382.0,2160.000000,0.0,2160.000000,0.0,2160.000000,0.0,2160.000000,2160.000000,2160.000000,0.0,2160.000000,0.0,1071.000000,1089.0,1071.000000,1089.0,140.000000,15.000000,2160.000000,2160.000000,743.000000,2160.000000,0.0,418.000000,2160.000000,7.0,2160.000000,2160.000000,2160.000000,2160.000000
mean,0.003385,0.576718,0.024673,0.027864,40.563148,27.288993,1.518148,NaN,0.052222,9.0,2.430231,NaN,212.856481,NaN,57.306481,NaN,4.319954,-6.569213,1011.898565,NaN,1022.689306,NaN,0.545005,9.0,1.030019,9.0,1.179286,0.780000,3.842593,2.256019,12.454913,1737.135648,NaN,5578.363636,2.495093,0.0,2.196620,1.678241,1.673843,2.142685
std,0.000708,0.201352,0.014215,0.015426,23.480890,18.614884,6.358060,NaN,0.830099,0.0,1.164067,NaN,100.383875,NaN,17.524800,NaN,2.626777,7.366634,5.644250,NaN,5.874535,NaN,0.452274,0.0,0.865089,0.0,1.235127,1.105958,4.058539,3.463929,9.158550,488.601856,NaN,33784.324460,7.624066,0.0,4.069035,3.937891,3.706190,3.399132
min,0.002000,0.300000,0.002000,0.005000,3.000000,1.000000,-11.300000,NaN,0.000000,9.0,0.000000,NaN,0.000000,NaN,17.000000,NaN,1.300000,-19.700000,985.000000,NaN,995.000000,NaN,0.000000,9.0,0.000000,9.0,0.100000,0.000000,0.000000,0.000000,2.000000,141.000000,NaN,1.000000,-10.500000,0.0,-2.400000,-2.400000,-1.400000,-0.300000
25%,0.003000,0.400000,0.012000,0.015000,26.000000,15.000000,-3.300000,NaN,0.000000,9.0,1.600000,NaN,160.000000,NaN,45.000000,NaN,2.300000,-12.600000,1009.200000,NaN,1019.800000,NaN,0.000000,9.0,0.240000,9.0,0.300000,0.100000,0.000000,0.000000,7.000000,1721.750000,NaN,19.000000,-2.800000,0.0,-0.300000,-0.700000,-0.500000,0.000000
50%,0.003000,0.500000,0.026000,0.024000,36.000000,22.000000,1.200000,NaN,0.000000,9.0,2.300000,NaN,250.000000,NaN,55.000000,NaN,3.500000,-7.500000,1012.400000,NaN,1023.300000,NaN,0.700000,9.0,0.850000,9.0,0.500000,0.300000,2.000000,0.000000,10.000000,2000.000000,NaN,19.000000,0.000000,0.0,0.200000,-0.300000,-0.400000,0.100000
75%,0.004000,0.700000,0.035000,0.040000,49.000000,35.000000,6.100000,NaN,0.000000,9.0,3.100000,NaN,270.000000,NaN,69.000000,NaN,5.800000,-0.700000,1016.000000,NaN,1026.900000,NaN,1.000000,9.0,1.750000,9.0,1.800000,0.800000,8.000000,6.000000,14.000000,2000.000000,NaN,42.000000,7.000000,0.0,4.900000,4.500000,4.225000,3.825000
max,0.006000,1.400000,0.074000,0.074000,239.000000,121.000000,19.400000,NaN,32.200000,9.0,7.900000,NaN,360.000000,NaN,100.000000,NaN,14.700000,12.700000,1024.000000,NaN,1035.300000,NaN,1.000000,9.0,3.380000,9.0,5.000000,3.300000,10.000000,10.000000,60.000000,2000.000000,NaN,401905.000000,31.100000,0.0,13.100000,12.000000,11.000000,10.500000

In [32]:
df_21.columns

Index(['SO2', 'CO', 'O3', 'NO2', 'PM10', 'PM25', 'time', '기온(°C)', '기온 QC플래그',
       '강수량(mm)', '강수량 QC플래그', '풍속(m/s)', '풍속 QC플래그', '풍향(16방위)', '풍향 QC플래그',
       '습도(%)', '습도 QC플래그', '증기압(hPa)', '이슬점온도(°C)', '현지기압(hPa)', '현지기압 QC플래그',
       '해면기압(hPa)', '해면기압 QC플래그', '일조(hr)', '일조 QC플래그', '일사(MJ/m2)',
       '일사 QC플래그', '적설(cm)', '3시간신적설(cm)', '전운량(10분위)', '중하층운량(10분위)',
       '운형(운형약어)', '최저운고(100m )', '시정(10m)', '지면상태(지면상태코드)', '현상번호(국내식)',
       '지면온도(°C)', '지면온도 QC플래그', '5cm 지중온도(°C)', '10cm 지중온도(°C)',
       '20cm 지중온도(°C)', '30cm 지중온도(°C)'],
      dtype='object')

In [33]:
# feature 추가 제거
del_cols = ['강수량 QC플래그', '풍속 QC플래그', '풍향 QC플래그',
            '습도 QC플래그', '현지기압 QC플래그', '해면기압 QC플래그',
            '일조 QC플래그', '일사 QC플래그', '지면상태(지면상태코드)', '지면온도 QC플래그']

df_21.drop(del_cols, axis=1, inplace=True)
df_22.drop(del_cols, axis=1, inplace=True)

In [34]:
df_21.drop('기온 QC플래그', axis=1, inplace=True)
df_22.drop('기온 QC플래그', axis=1, inplace=True)

In [35]:
df_21.describe()

,SO2,CO,O3,NO2,PM10,PM25,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),증기압(hPa),이슬점온도(°C),현지기압(hPa),해면기압(hPa),일조(hr),일사(MJ/m2),적설(cm),3시간신적설(cm),전운량(10분위),중하층운량(10분위),최저운고(100m ),시정(10m),현상번호(국내식),지면온도(°C),5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
count,8647.000000,8679.000000,8662.000000,8679.000000,8654.000000,8662.000000,8759.000000,8759.000000,8757.000000,8757.000000,8759.000000,8759.000000,8759.000000,8759.000000,8759.000000,4791.000000,4791.000000,379.000000,29.000000,8757.000000,8759.000000,4547.000000,8759.000000,2.125000e+03,8754.000000,8754.000000,8754.000000,8754.000000,8754.000000
mean,0.003385,0.505646,0.029247,0.023347,38.925930,20.466174,13.739194,0.135461,2.311328,169.658559,65.589223,12.631236,6.842094,1006.046603,1016.280317,0.458380,1.076706,1.397625,0.962069,4.960489,3.033565,15.161425,1719.765384,1.367177e+04,14.734304,15.128581,14.555118,14.533276,14.827633
std,0.000826,0.209529,0.019709,0.014456,47.473291,16.565864,10.894786,1.183827,1.120906,107.549684,18.394276,8.282075,11.736897,7.928167,8.311602,0.438788,0.966440,1.357390,1.424132,3.929256,3.452846,13.537921,521.130959,4.170156e+05,12.042066,10.175582,10.044423,9.739277,9.360493
min,0.001000,0.200000,0.000000,0.003000,3.000000,1.000000,-18.500000,0.000000,0.000000,0.000000,19.000000,0.700000,-27.000000,986.900000,996.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,33.000000,1.000000e+00,-12.700000,-4.700000,-4.600000,-3.000000,-0.800000
25%,0.003000,0.400000,0.015000,0.012000,18.000000,10.000000,6.000000,0.000000,1.500000,50.000000,51.000000,5.900000,-0.400000,999.800000,1009.700000,0.000000,0.230000,0.400000,0.000000,0.000000,0.000000,7.000000,1719.000000,5.000000e+00,4.300000,5.900000,5.500000,5.600000,6.300000
50%,0.003000,0.400000,0.028000,0.019000,30.000000,16.000000,14.600000,0.000000,2.200000,200.000000,66.000000,9.700000,6.600000,1006.300000,1016.400000,0.400000,0.790000,0.900000,0.200000,6.000000,1.000000,10.000000,2000.000000,1.900000e+01,15.400000,15.400000,14.700000,14.600000,15.100000
75%,0.004000,0.600000,0.040000,0.031000,46.000000,25.000000,22.600000,0.000000,2.900000,270.000000,80.000000,19.900000,17.400000,1012.000000,1022.500000,1.000000,1.800000,1.850000,0.900000,9.000000,6.000000,16.000000,2000.000000,1.901000e+03,23.600000,24.100000,23.500000,23.400000,23.600000
max,0.011000,2.000000,0.137000,0.082000,942.000000,154.000000,36.300000,64.700000,8.300000,360.000000,100.000000,32.200000,25.300000,1025.800000,1037.400000,1.000000,3.740000,5.100000,4.400000,10.000000,10.000000,76.000000,2000.000000,1.916020e+07,56.800000,35.700000,33.700000,31.900000,30.600000

In [36]:
df_21.drop('현상번호(국내식)', axis=1, inplace=True)
df_22.drop('현상번호(국내식)', axis=1, inplace=True)

In [37]:
df_21.columns

Index(['SO2', 'CO', 'O3', 'NO2', 'PM10', 'PM25', 'time', '기온(°C)', '강수량(mm)',
       '풍속(m/s)', '풍향(16방위)', '습도(%)', '증기압(hPa)', '이슬점온도(°C)', '현지기압(hPa)',
       '해면기압(hPa)', '일조(hr)', '일사(MJ/m2)', '적설(cm)', '3시간신적설(cm)', '전운량(10분위)',
       '중하층운량(10분위)', '운형(운형약어)', '최저운고(100m )', '시정(10m)', '지면온도(°C)',
       '5cm 지중온도(°C)', '10cm 지중온도(°C)', '20cm 지중온도(°C)', '30cm 지중온도(°C)'],
      dtype='object')

In [38]:
df_21.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8759 entries, 0 to 8758
Data columns (total 30 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SO2            8647 non-null   float64
 1   CO             8679 non-null   float64
 2   O3             8662 non-null   float64
 3   NO2            8679 non-null   float64
 4   PM10           8654 non-null   float64
 5   PM25           8662 non-null   float64
 6   time           8759 non-null   datetime64[ns]
 7   기온(°C)         8759 non-null   float64
 8   강수량(mm)        8759 non-null   float64
 9   풍속(m/s)        8757 non-null   float64
 10  풍향(16방위)       8757 non-null   float64
 11  습도(%)          8759 non-null   int64
 12  증기압(hPa)       8759 non-null   float64
 13  이슬점온도(°C)      8759 non-null   float64
 14  현지기압(hPa)      8759 non-null   float64
 15  해면기압(hPa)      8759 non-null   float64
 16  일조(hr)         4791 non-null   float64
 17  일사(MJ/m2)      4791 non-null   float64
 18  적설(cm)         379 non-null    float64
 19  3시간신적설(cm)     29 non-null     float64
 20  전운량(10분위)      8757 non-null   float64
 21  중하층운량(10분위)    8759 non-null   int64
 22  운형(운형약어)       4947 non-null   object
 23  최저운고(100m )    4547 non-null   float64
 24  시정(10m)        8759 non-null   int64
 25  지면온도(°C)       8754 non-null   float64
 26  5cm 지중온도(°C)   8754 non-null   float64
 27  10cm 지중온도(°C)  8754 non-null   float64
 28  20cm 지중온도(°C)  8754 non-null   float64
 29  30cm 지중온도(°C)  8754 non-null   float64
dtypes: datetime64[ns](1), float64(25), int64(3), object(1)
memory usage: 2.1+ MB

In [39]:
df_21.fillna({'SO2': df_21['SO2'].mean(),
              'CO': df_21['CO'].mean(),
              'O3': df_21['O3'].mean(),
              'NO2': df_21['NO2'].mean(),
              'PM10': df_21['PM10'].mean(),
              'PM25': df_21['O3'].mean(),
              '풍속(m/s)': df_21['풍속(m/s)'].mean(),
              '풍향(16방위)': df_21['풍향(16방위)'].mean(),
              '일조(hr)': df_21['일조(hr)'].mean(),
              '일사(MJ/m2)': df_21['일사(MJ/m2)'].mean(),
              '적설(cm)': 0,
              '3시간신적설(cm)': 0,
              '전운량(10분위)': df_21['전운량(10분위)'].mean(),
              '최저운고(100m )': df_21['최저운고(100m )'].mean(),
              '지면온도(°C)': df_21['지면온도(°C)'].mean(),
              '5cm 지중온도(°C)': df_21['5cm 지중온도(°C)'].mean(),
              '10cm 지중온도(°C)': df_21['10cm 지중온도(°C)'].mean(),
              '20cm 지중온도(°C)': df_21['20cm 지중온도(°C)'].mean(),
              '30cm 지중온도(°C)': df_21['30cm 지중온도(°C)'].mean()}, inplace=True)

df_22.fillna({'SO2': df_22['SO2'].mean(),
              'CO': df_22['CO'].mean(),
              'O3': df_22['O3'].mean(),
              'NO2': df_22['NO2'].mean(),
              'PM10': df_22['PM10'].mean(),
              'PM25': df_22['O3'].mean(),
              '풍속(m/s)': df_22['풍속(m/s)'].mean(),
              '풍향(16방위)': df_22['풍향(16방위)'].mean(),
              '일조(hr)': df_22['일조(hr)'].mean(),
              '일사(MJ/m2)': df_22['일사(MJ/m2)'].mean(),
              '적설(cm)': 0,
              '3시간신적설(cm)': 0,
              '전운량(10분위)': df_22['전운량(10분위)'].mean(),
              '최저운고(100m )': df_22['최저운고(100m )'].mean(),
              '지면온도(°C)': df_22['지면온도(°C)'].mean(),
              '5cm 지중온도(°C)': df_22['5cm 지중온도(°C)'].mean(),
              '10cm 지중온도(°C)': df_22['10cm 지중온도(°C)'].mean(),
              '20cm 지중온도(°C)': df_22['20cm 지중온도(°C)'].mean(),
              '30cm 지중온도(°C)': df_22['30cm 지중온도(°C)'].mean()}, inplace=True)

In [40]:
df_21.drop('운형(운형약어)', axis=1, inplace=True)
df_22.drop('운형(운형약어)', axis=1, inplace=True)

In [41]:
# df_21, df_22의 남은 결측치를 처리
df_22.isnull().sum()

SO2              0
CO               0
O3               0
NO2              0
PM10             0
PM25             0
time             0
기온(°C)           0
강수량(mm)          0
풍속(m/s)          0
풍향(16방위)         0
습도(%)            0
증기압(hPa)         0
이슬점온도(°C)        0
현지기압(hPa)        0
해면기압(hPa)        0
일조(hr)           0
일사(MJ/m2)        0
적설(cm)           0
3시간신적설(cm)       0
전운량(10분위)        0
중하층운량(10분위)      0
최저운고(100m )      0
시정(10m)          0
지면온도(°C)         0
5cm 지중온도(°C)     0
10cm 지중온도(°C)    0
20cm 지중온도(°C)    0
30cm 지중온도(°C)    0
dtype: int64

In [42]:
# df_21, df_22의 결측치 재확인
df_21.isnull().sum()

SO2              0
CO               0
O3               0
NO2              0
PM10             0
PM25             0
time             0
기온(°C)           0
강수량(mm)          0
풍속(m/s)          0
풍향(16방위)         0
습도(%)            0
증기압(hPa)         0
이슬점온도(°C)        0
현지기압(hPa)        0
해면기압(hPa)        0
일조(hr)           0
일사(MJ/m2)        0
적설(cm)           0
3시간신적설(cm)       0
전운량(10분위)        0
중하층운량(10분위)      0
최저운고(100m )      0
시정(10m)          0
지면온도(°C)         0
5cm 지중온도(°C)     0
10cm 지중온도(°C)    0
20cm 지중온도(°C)    0
30cm 지중온도(°C)    0
dtype: int64

---

#### **<span style="color:blue">[2-6] 전일 같은 시간 변수 추가</span>**

* 모델링에 유용한 변수로 전일 같은 시간(24시간 전) 미세먼지 농도 변수를 추가합니다. 
* 시계열 데이터 처리를 위한 shift 연산을 참고하세요.

In [43]:
# df_21, df_22의 index(time)를 month, day, hour 로 쪼개기 (year는 필요 없음)
df_21['month'] = df_21['time'].dt.month
df_22['month'] = df_22['time'].dt.month

df_21['day'] = df_21['time'].dt.day
df_22['day'] = df_22['time'].dt.day

df_21['hour'] = df_21['time'].dt.hour
df_22['hour'] = df_22['time'].dt.hour

In [49]:
# df_21, df_22에 전일 같은 시간 미세먼지 농도 변수(PM10_lag1) 추가
# 전일 같은 시간은 24시간 전 입니다.
df_21['PM10_lag1'] = df_21['PM10'].shift(periods=24)
df_22['PM10_lag1'] = df_22['PM10'].shift(periods=24)
df_21.head(30)

,SO2,CO,O3,NO2,PM10,PM25,time,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),증기압(hPa),이슬점온도(°C),현지기압(hPa),해면기압(hPa),일조(hr),일사(MJ/m2),적설(cm),3시간신적설(cm),전운량(10분위),중하층운량(10분위),최저운고(100m ),시정(10m),지면온도(°C),5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C),month,day,hour,PM_lag1,PM10_lag1
0,0.003,0.6,0.002,0.039,31.0,18.0,2021-10-01 01:00:00,18.7,0.0,1.0,20.0,85,18.3,16.1,998.8,1008.7,0.45838,1.076706,0.0,0.0,0.0,0,15.161425,2000,17.4,22.1,22.0,22.5,22.9,10,1,1,NaN,NaN
1,0.003,0.6,0.002,0.035,27.0,16.0,2021-10-01 02:00:00,18.3,0.0,0.3,0.0,89,18.6,16.4,998.9,1008.8,0.45838,1.076706,0.0,0.0,0.0,0,15.161425,2000,17.2,21.8,21.8,22.4,22.8,10,1,2,NaN,NaN
2,0.003,0.6,0.002,0.033,28.0,18.0,2021-10-01 03:00:00,17.7,0.0,2.0,20.0,92,18.5,16.3,998.1,1008.1,0.45838,1.076706,0.0,0.0,0.0,0,15.161425,2000,17.0,21.6,21.6,22.2,22.8,10,1,3,NaN,NaN
3,0.003,0.6,0.002,0.030,26.0,16.0,2021-10-01 04:00:00,17.4,0.0,1.0,50.0,91,18.1,15.9,997.9,1007.9,0.45838,1.076706,0.0,0.0,0.0,0,15.161425,2000,16.5,21.3,21.4,22.0,22.7,10,1,4,NaN,NaN
4,0.003,0.5,0.003,0.026,26.0,16.0,2021-10-01 05:00:00,17.2,0.0,1.3,270.0,94,18.4,16.2,998.4,1008.4,0.45838,1.076706,0.0,0.0,4.0,0,15.161425,1995,16.6,21.1,21.2,21.9,22.6,10,1,5,NaN,NaN
5,0.003,0.5,0.002,0.025,22.0,14.0,2021-10-01 06:00:00,17.0,0.0,1.9,360.0,94,18.2,16.0,999.2,1009.2,0.45838,1.076706,0.0,0.0,0.0,0,15.161425,1910,16.5,21.0,21.0,21.7,22.5,10,1,6,NaN,NaN
6,0.003,0.5,0.002,0.024,25.0,14.0,2021-10-01 07:00:00,17.0,0.0,0.8,290.0,95,18.3,16.1,1000.4,1010.4,0.00000,0.030000,0.0,0.0,7.0,2,45.000000,2000,16.9,20.8,20.8,21.6,22.4,10,1,7,NaN,NaN
7,0.003,0.5,0.005,0.023,24.0,14.0,2021-10-01 08:00:00,17.5,0.0,3.8,290.0,93,18.5,16.3,1002.0,1012.0,0.00000,0.270000,0.0,0.0,8.0,6,5.000000,2000,19.1,20.8,20.7,21.4,22.3,10,1,8,NaN,NaN
8,0.003,0.5,0.011,0.020,23.0,12.0,2021-10-01 09:00:00,19.8,0.0,2.6,90.0,86,19.7,17.3,999.4,1009.3,0.60000,0.970000,0.0,0.0,5.0,5,45.000000,2000,23.4,20.9,20.7,21.3,22.2,10,1,9,NaN,NaN
9,0.003,0.6,0.026,0.016,40.0,22.0,2021-10-01 10:00:00,21.4,0.0,3.0,90.0,76,19.2,16.9,999.3,1009.2,1.00000,1.810000,0.0,0.0,0.0,0,15.161425,2000,27.0,21.4,20.9,21.3,22.1,10,1,10,NaN,NaN
10,0.003,0.5,0.031,0.014,49.0,29.0,2021-10-01 11:00:00,23.0,0.0,2.2,70.0,70,19.6,17.2,998.7,1008.5,1.00000,2.350000,0.0,0.0,0.0,0,15.161425,2000,30.5,22.0,21.2,21.3,22.1,10,1,11,NaN,NaN
11,0.003,0.5,0.035,0.017,43.0,24.0,2021-10-01 12:00:00,24.6,0.0,1.1,90.0,65,20.0,17.5,998.0,1007.7,1.00000,2.660000,0.0,0.0,0.0,0,15.161425,2000,33.1,22.7,21.7,21.4,22.0,10,1,12,NaN,NaN
12,0.003,0.6,0.040,0.021,43.0,27.0,2021-10-01 13:00:00,26.0,0.0,1.1,50.0,56,18.8,16.5,997.6,1007.3,1.00000,2.700000,0.0,0.0,0.0,0,15.161425,2000,34.4,23.4,22.2,21.6,22.0,10,1,13,NaN,NaN
13,0.003,0.5,0.051,0.020,42.0,24.0,2021-10-01 14:00:00,27.2,0.0,2.1,250.0,50,17.9,15.8,997.4,1007.0,1.00000,2.550000,0.0,0.0,0.0,0,15.161425,2000,33.7,24.1,22.8,21.8,22.1,10,1,14,NaN,NaN
14,0.003,0.5,0.059,0.017,40.0,26.0,2021-10-01 15:00:00,27.2,0.0,3.3,270.0,45,16.2,14.2,997.2,1006.8,1.00000,2.250000,0.0,0.0,0.0,0,15.161425,2000,31.1,24.6,23.3,22.2,22.2,10,1,15,NaN,NaN
15,0.003,0.4,0.064,0.014,39.0,20.0,2021-10-01 16:00:00,26.9,0.0,2.7,270.0,47,16.6,14.6,997.2,1006.8,1.00000,1.630000,0.0,0.0,0.0,0,15.161425,2000,27.2,24.8,23.7,22.5,22.3,10,1,16,NaN,NaN
16,0.003,0.5,0.070,0.016,42.0,22.0,2021-10-01 17:00:00,25.7,0.0,2.8,250.0,56,18.4,16.2,998.0,1007.7,1.00000,0.880000,0.0,0.0,0.0,0,15.161425,2000,23.8,24.7,23.8,22.8,22.5,10,1,17,NaN,NaN
17,0.003,0.5,0.060,0.017,44.0,25.0,2021-10-01 18:00:00,23.9,0.0,3.2,250.0,59,17.4,15.3,998.0,1007.7,0.70000,0.310000,0.0,0.0,0.0,0,15.161425,2000,21.2,24.4,23.8,23.0,22.6,10,1,18,NaN,NaN
18,0.004,0.5,0.057,0.023,43.0,25.0,2021-10-01 19:00:00,22.5,0.0,2.9,270.0,66,17.9,15.8,998.6,1008.4,0.00000,0.010000,0.0,0.0,4.0,0,15.161425,2000,19.9,24.0,23.6,23.1,22.8,10,1,19,NaN,NaN
19,0.005,0.6,0.059,0.022,48.0,28.0,2021-10-01 20:00:00,21.8,0.0,2.4,290.0,72,18.8,16.5,999.1,1008.9,0.45838,1.076706,0.0,0.0,3.0,1,45.000000,1741,19.6,23.6,23.3,23.1,22.9,10,1,20,NaN,NaN
20,0.004,0.5,0.062,0.016,51.0,33.0,2021-10-01 21:00:00,21.5,0.0,3.4,270.0,75,19.1,16.8,1000.7,1010.6,0.45838,1.076706,0.0,0.0,9.0,8,42.000000,1760,20.0,23.3,23.1,23.1,22.9,10,1,21,NaN,NaN
21,0.004,0.5,0.053,0.019,45.0,28.0,2021-10-01 22:00:00,21.4,0.0,4.0,250.0,79,20.0,17.5,1002.4,1012.3,0.45838,1.076706,0.0,0.0,10.0,7,4.000000,1652,20.0,23.1,22.9,23.0,23.0,10,1,22,NaN,NaN
22,0.003,0.3,0.054,0.010,33.0,24.0,2021-10-01 23:00:00,17.2,12.7,3.7,180.0,88,17.2,15.1,1002.2,1012.2,0.45838,1.076706,0.0,0.0,10.0,8,4.000000,1975,17.8,22.0,22.2,22.8,23.0,10,1,23,NaN,NaN
23,0.003,0.3,0.046,0.015,11.0,6.0,2021-10-01 00:00:00,19.2,0.0,1.3,360.0,83,18.4,16.2,998.8,1008.7,0.45838,1.076706,0.0,0.0,0.0,0,15.161425,2000,17.8,22.3,22.3,22.7,22.9,10,1,0,NaN,NaN
24,0.002,0.3,0.046,0.012,10.0,7.0,2021-10-02 01:00:00,16.6,0.0,1.8,50.0,90,16.9,14.9,999.8,1009.8,0.45838,1.076706,0.0,0.0,10.0,4,37.000000,2000,17.6,21.6,21.6,22.4,22.9,10,2,1,31.0,31.0
25,0.003,0.3,0.041,0.014,9.0,6.0,2021-10-02 02:00:00,16.8,0.0,0.9,20.0,91,17.4,15.3,1000.0,1010.0,0.45838,1.076706,0.0,0.0,8.0,6,15.000000,2000,17.9,21.4,21.4,22.2,22.8,10,2,2,27.0,27.0
26,0.003,0.3,0.039,0.015,9.0,8.0,2021-10-02 03:00:00,16.6,0.0,0.9,50.0,93,17.5,15.4,1000.5,1010.5,0.45838,1.076706,0.0,0.0,10.0,6,4.000000,1531,17.7,21.3,21.3,22.0,22.7,10,2,3,28.0,28.0
27,0.003,0.4,0.029,0.016,10.0,7.0,2021-10-02 04:00:00,16.7,0.0,1.3,20.0,93,17.6,15.5,1001.0,1011.0,0.45838,1.076706,0.0,0.0,8.0,2,45.000000,2000,17.4,21.2,21.2,21.9,22.6,10,2,4,26.0,26.0
28,0.002,0.4,0.029,0.016,11.0,9.0,2021-10-02 05:00:00,16.5,0.0,1.2,20.0,95,17.7,15.6,1001.2,1011.3,0.45838,1.076706,0.0,0.0,6.0,6,4.000000,2000,17.6,21.1,21.0,21.7,22.5,10,2,5,26.0,26.0
29,0.003,0.4,0.025,0.019,11.0,7.0,2021-10-02 06:00:00,16.6,0.0,1.3,20.0,94,17.7,15.6,1001.9,1012.0,0.45838,1.076706,0.0,0.0,7.0,7,4.000000,2000,18.0,20.9,20.9,21.6,22.4,10,2,6,22.0,22.0

In [50]:
df_21.drop('PM_lag1', axis=1, inplace=True)
df_22.drop('PM_lag1', axis=1, inplace=True)

---

#### **<span style="color:blue">[2-7] t+1 시점의 미세먼지 농도 데이터 생성</span>**

* t+1 시점은 1시간 후 입니다.
* t+1 시점의 미세먼지 농도 변수를 생성하세요.
* t+1 시점의 미세먼지 농도는 머신러닝 모델을 통해 예측하려는 y값(target) 입니다.

In [64]:
# df_21, df_22에 t+1 시점 변수(PM10_1) 추가
df_21['PM10_1'] = df_21['PM10'].shift(-1)
df_22['PM10_1'] = df_22['PM10'].shift(-1)

In [53]:
df_21

,SO2,CO,O3,NO2,PM10,PM25,time,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),증기압(hPa),이슬점온도(°C),현지기압(hPa),해면기압(hPa),일조(hr),일사(MJ/m2),적설(cm),3시간신적설(cm),전운량(10분위),중하층운량(10분위),최저운고(100m ),시정(10m),지면온도(°C),5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C),month,day,hour,PM10_lag1,PM10_1
0,0.003,0.6,0.002,0.039,31.0,18.0,2021-10-01 01:00:00,18.7,0.0,1.0,20.0,85,18.3,16.1,998.8,1008.7,0.45838,1.076706,0.0,0.0,0.0,0,15.161425,2000,17.4,22.1,22.0,22.5,22.9,10,1,1,NaN,NaN
1,0.003,0.6,0.002,0.035,27.0,16.0,2021-10-01 02:00:00,18.3,0.0,0.3,0.0,89,18.6,16.4,998.9,1008.8,0.45838,1.076706,0.0,0.0,0.0,0,15.161425,2000,17.2,21.8,21.8,22.4,22.8,10,1,2,NaN,31.0
2,0.003,0.6,0.002,0.033,28.0,18.0,2021-10-01 03:00:00,17.7,0.0,2.0,20.0,92,18.5,16.3,998.1,1008.1,0.45838,1.076706,0.0,0.0,0.0,0,15.161425,2000,17.0,21.6,21.6,22.2,22.8,10,1,3,NaN,27.0
3,0.003,0.6,0.002,0.030,26.0,16.0,2021-10-01 04:00:00,17.4,0.0,1.0,50.0,91,18.1,15.9,997.9,1007.9,0.45838,1.076706,0.0,0.0,0.0,0,15.161425,2000,16.5,21.3,21.4,22.0,22.7,10,1,4,NaN,28.0
4,0.003,0.5,0.003,0.026,26.0,16.0,2021-10-01 05:00:00,17.2,0.0,1.3,270.0,94,18.4,16.2,998.4,1008.4,0.45838,1.076706,0.0,0.0,4.0,0,15.161425,1995,16.6,21.1,21.2,21.9,22.6,10,1,5,NaN,26.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8754,0.003,0.7,0.020,0.036,35.0,24.0,2021-09-30 20:00:00,21.7,0.0,0.9,320.0,79,20.4,17.8,998.8,1008.6,0.45838,1.076706,0.0,0.0,0.0,0,15.161425,2000,19.9,23.7,23.4,23.1,22.8,9,30,20,15.0,36.0
8755,0.003,0.6,0.016,0.035,34.0,21.0,2021-09-30 21:00:00,20.9,0.0,0.4,0.0,83,20.4,17.8,999.2,1009.1,0.45838,1.076706,0.0,0.0,0.0,0,15.161425,2000,19.2,23.3,23.1,23.0,22.9,9,30,21,18.0,35.0
8756,0.003,0.6,0.012,0.036,30.0,19.0,2021-09-30 22:00:00,20.4,0.0,0.8,70.0,81,19.4,17.0,999.2,1009.1,0.45838,1.076706,0.0,0.0,0.0,0,15.161425,2000,18.6,23.0,22.8,22.9,22.9,9,30,22,15.0,34.0
8757,0.003,0.6,0.004,0.042,33.0,19.0,2021-09-30 23:00:00,19.7,0.0,1.4,20.0,81,18.5,16.3,999.2,1009.1,0.45838,1.076706,0.0,0.0,0.0,0,15.161425,2000,18.1,22.6,22.5,22.8,22.9,9,30,23,14.0,30.0
8758,0.003,0.6,0.003,0.042,29.0,17.0,2021-09-30 00:00:00,17.8,0.0,1.8,360.0,95,19.2,16.9,999.5,1009.5,0.45838,1.076706,0.0,0.0,1.0,1,15.161425,2000,17.6,21.8,21.7,22.2,22.8,9,30,0,11.0,33.0

In [65]:
# 결측치가 있다면 처리
df_21['PM10_lag1'].fillna(0, inplace=True)
df_21['PM10_1'].fillna(0, inplace=True)
df_22['PM10_lag1'].fillna(0, inplace=True)
df_22['PM10_1'].fillna(0, inplace=True)

In [66]:
df_21

,SO2,CO,O3,NO2,PM10,PM25,time,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),증기압(hPa),이슬점온도(°C),현지기압(hPa),해면기압(hPa),일조(hr),일사(MJ/m2),적설(cm),3시간신적설(cm),전운량(10분위),중하층운량(10분위),최저운고(100m ),시정(10m),지면온도(°C),5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C),month,day,hour,PM10_lag1,PM10_1
0,0.003,0.6,0.002,0.039,31.0,18.0,2021-10-01 01:00:00,18.7,0.0,1.0,20.0,85,18.3,16.1,998.8,1008.7,0.45838,1.076706,0.0,0.0,0.0,0,15.161425,2000,17.4,22.1,22.0,22.5,22.9,10,1,1,0.0,27.0
1,0.003,0.6,0.002,0.035,27.0,16.0,2021-10-01 02:00:00,18.3,0.0,0.3,0.0,89,18.6,16.4,998.9,1008.8,0.45838,1.076706,0.0,0.0,0.0,0,15.161425,2000,17.2,21.8,21.8,22.4,22.8,10,1,2,0.0,28.0
2,0.003,0.6,0.002,0.033,28.0,18.0,2021-10-01 03:00:00,17.7,0.0,2.0,20.0,92,18.5,16.3,998.1,1008.1,0.45838,1.076706,0.0,0.0,0.0,0,15.161425,2000,17.0,21.6,21.6,22.2,22.8,10,1,3,0.0,26.0
3,0.003,0.6,0.002,0.030,26.0,16.0,2021-10-01 04:00:00,17.4,0.0,1.0,50.0,91,18.1,15.9,997.9,1007.9,0.45838,1.076706,0.0,0.0,0.0,0,15.161425,2000,16.5,21.3,21.4,22.0,22.7,10,1,4,0.0,26.0
4,0.003,0.5,0.003,0.026,26.0,16.0,2021-10-01 05:00:00,17.2,0.0,1.3,270.0,94,18.4,16.2,998.4,1008.4,0.45838,1.076706,0.0,0.0,4.0,0,15.161425,1995,16.6,21.1,21.2,21.9,22.6,10,1,5,0.0,22.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8754,0.003,0.7,0.020,0.036,35.0,24.0,2021-09-30 20:00:00,21.7,0.0,0.9,320.0,79,20.4,17.8,998.8,1008.6,0.45838,1.076706,0.0,0.0,0.0,0,15.161425,2000,19.9,23.7,23.4,23.1,22.8,9,30,20,15.0,34.0
8755,0.003,0.6,0.016,0.035,34.0,21.0,2021-09-30 21:00:00,20.9,0.0,0.4,0.0,83,20.4,17.8,999.2,1009.1,0.45838,1.076706,0.0,0.0,0.0,0,15.161425,2000,19.2,23.3,23.1,23.0,22.9,9,30,21,18.0,30.0
8756,0.003,0.6,0.012,0.036,30.0,19.0,2021-09-30 22:00:00,20.4,0.0,0.8,70.0,81,19.4,17.0,999.2,1009.1,0.45838,1.076706,0.0,0.0,0.0,0,15.161425,2000,18.6,23.0,22.8,22.9,22.9,9,30,22,15.0,33.0
8757,0.003,0.6,0.004,0.042,33.0,19.0,2021-09-30 23:00:00,19.7,0.0,1.4,20.0,81,18.5,16.3,999.2,1009.1,0.45838,1.076706,0.0,0.0,0.0,0,15.161425,2000,18.1,22.6,22.5,22.8,22.9,9,30,23,14.0,29.0
8758,0.003,0.6,0.003,0.042,29.0,17.0,2021-09-30 00:00:00,17.8,0.0,1.8,360.0,95,19.2,16.9,999.5,1009.5,0.45838,1.076706,0.0,0.0,1.0,1,15.161425,2000,17.6,21.8,21.7,22.2,22.8,9,30,0,11.0,0.0

---

#### **<span style="color:blue">[2-8] train, test 데이터 분리</span>**

* 21년도 데이터(df_21)를 train 데이터로 저장하세요. y 값을 제외하고 train_x로 저장한 후 y 값은 train_y로 저장하세요.
* 22년도 데이터(df_22)를 test 데이터로 저장하세요. y 값을 제외하고 test_x로 저장한 후 y 값은 test_y로 저장하세요.
* 각각의 데이터프레임을 csv 파일로 저장하세요. (train_x.csv / train_y.csv / test_x.csv / test_y.csv)
* y값은 'PM10_1' 즉, t+1 시점의 미세먼지 농도입니다.

In [67]:
# 아래에 필요한 코드를 작성하고 결과를 확인합니다.
target = 'PM10_1'

train_x = df_21.drop(target, axis=1)
train_y = df_21.loc[:, target]

test_x = df_22.drop(target, axis=1)
test_y = df_22.loc[:, target]

In [68]:
# 각각의 데이터프레임을 csv 파일로 저장 (train_x.csv / train_y.csv / test_x.csv / test_y.csv)
train_x.to_csv('train_x.csv')
train_y.to_csv('train_y.csv')

test_x.to_csv('test_x.csv')
test_y.to_csv('test_y.csv')